.p-5 {
  padding: 5px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.p-10 {
  padding: 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.p-15 {
  padding: 15px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.p-20 {
  padding: 20px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.p-25 {
  padding: 25px !important; }

.m-t-25 {
  margin-top: 25px !important; }

.p-t-25 {
  padding-top: 25px !important; }

.m-b-25 {
  margin-bottom: 25px !important; }

.p-b-25 {
  padding-bottom: 25px !important; }

.m-l-25 {
  margin-left: 25px !important; }

.p-l-25 {
  padding-left: 25px !important; }

.m-r-25 {
  margin-right: 25px !important; }

.p-r-25 {
  padding-right: 25px !important; }

.p-30 {
  padding: 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.p-35 {
  padding: 35px !important; }

.m-t-35 {
  margin-top: 35px !important; }

.p-t-35 {
  padding-top: 35px !important; }

.m-b-35 {
  margin-bottom: 35px !important; }

.p-b-35 {
  padding-bottom: 35px !important; }

.m-l-35 {
  margin-left: 35px !important; }

.p-l-35 {
  padding-left: 35px !important; }

.m-r-35 {
  margin-right: 35px !important; }

.p-r-35 {
  padding-right: 35px !important; }

.p-40 {
  padding: 40px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.p-t-40 {
  padding-top: 40px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.p-b-40 {
  padding-bottom: 40px !important; }

.m-l-40 {
  margin-left: 40px !important; }

.p-l-40 {
  padding-left: 40px !important; }

.m-r-40 {
  margin-right: 40px !important; }

.p-r-40 {
  padding-right: 40px !important; }

.p-45 {
  padding: 45px !important; }

.m-t-45 {
  margin-top: 45px !important; }

.p-t-45 {
  padding-top: 45px !important; }

.m-b-45 {
  margin-bottom: 45px !important; }

.p-b-45 {
  padding-bottom: 45px !important; }

.m-l-45 {
  margin-left: 45px !important; }

.p-l-45 {
  padding-left: 45px !important; }

.m-r-45 {
  margin-right: 45px !important; }

.p-r-45 {
  padding-right: 45px !important; }

.p-50 {
  padding: 50px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.p-t-50 {
  padding-top: 50px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }

.p-b-50 {
  padding-bottom: 50px !important; }

.m-l-50 {
  margin-left: 50px !important; }

.p-l-50 {
  padding-left: 50px !important; }

.m-r-50 {
  margin-right: 50px !important; }

.p-r-50 {
  padding-right: 50px !important; }

.p-55 {
  padding: 55px !important; }

.m-t-55 {
  margin-top: 55px !important; }

.p-t-55 {
  padding-top: 55px !important; }

.m-b-55 {
  margin-bottom: 55px !important; }

.p-b-55 {
  padding-bottom: 55px !important; }

.m-l-55 {
  margin-left: 55px !important; }

.p-l-55 {
  padding-left: 55px !important; }

.m-r-55 {
  margin-right: 55px !important; }

.p-r-55 {
  padding-right: 55px !important; }

.p-60 {
  padding: 60px !important; }

.m-t-60 {
  margin-top: 60px !important; }

.p-t-60 {
  padding-top: 60px !important; }

.m-b-60 {
  margin-bottom: 60px !important; }

.p-b-60 {
  padding-bottom: 60px !important; }

.m-l-60 {
  margin-left: 60px !important; }

.p-l-60 {
  padding-left: 60px !important; }

.m-r-60 {
  margin-right: 60px !important; }

.p-r-60 {
  padding-right: 60px !important; }

.p-65 {
  padding: 65px !important; }

.m-t-65 {
  margin-top: 65px !important; }

.p-t-65 {
  padding-top: 65px !important; }

.m-b-65 {
  margin-bottom: 65px !important; }

.p-b-65 {
  padding-bottom: 65px !important; }

.m-l-65 {
  margin-left: 65px !important; }

.p-l-65 {
  padding-left: 65px !important; }

.m-r-65 {
  margin-right: 65px !important; }

.p-r-65 {
  padding-right: 65px !important; }

.p-70 {
  padding: 70px !important; }

.m-t-70 {
  margin-top: 70px !important; }

.p-t-70 {
  padding-top: 70px !important; }

.m-b-70 {
  margin-bottom: 70px !important; }

.p-b-70 {
  padding-bottom: 70px !important; }

.m-l-70 {
  margin-left: 70px !important; }

.p-l-70 {
  padding-left: 70px !important; }

.m-r-70 {
  margin-right: 70px !important; }

.p-r-70 {
  padding-right: 70px !important; }

.p-75 {
  padding: 75px !important; }

.m-t-75 {
  margin-top: 75px !important; }

.p-t-75 {
  padding-top: 75px !important; }

.m-b-75 {
  margin-bottom: 75px !important; }

.p-b-75 {
  padding-bottom: 75px !important; }

.m-l-75 {
  margin-left: 75px !important; }

.p-l-75 {
  padding-left: 75px !important; }

.m-r-75 {
  margin-right: 75px !important; }

.p-r-75 {
  padding-right: 75px !important; }

.p-80 {
  padding: 80px !important; }

.m-t-80 {
  margin-top: 80px !important; }

.p-t-80 {
  padding-top: 80px !important; }

.m-b-80 {
  margin-bottom: 80px !important; }

.p-b-80 {
  padding-bottom: 80px !important; }

.m-l-80 {
  margin-left: 80px !important; }

.p-l-80 {
  padding-left: 80px !important; }

.m-r-80 {
  margin-right: 80px !important; }

.p-r-80 {
  padding-right: 80px !important; }

.p-85 {
  padding: 85px !important; }

.m-t-85 {
  margin-top: 85px !important; }

.p-t-85 {
  padding-top: 85px !important; }

.m-b-85 {
  margin-bottom: 85px !important; }

.p-b-85 {
  padding-bottom: 85px !important; }

.m-l-85 {
  margin-left: 85px !important; }

.p-l-85 {
  padding-left: 85px !important; }

.m-r-85 {
  margin-right: 85px !important; }

.p-r-85 {
  padding-right: 85px !important; }

.p-90 {
  padding: 90px !important; }

.m-t-90 {
  margin-top: 90px !important; }

.p-t-90 {
  padding-top: 90px !important; }

.m-b-90 {
  margin-bottom: 90px !important; }

.p-b-90 {
  padding-bottom: 90px !important; }

.m-l-90 {
  margin-left: 90px !important; }

.p-l-90 {
  padding-left: 90px !important; }

.m-r-90 {
  margin-right: 90px !important; }

.p-r-90 {
  padding-right: 90px !important; }

.p-95 {
  padding: 95px !important; }

.m-t-95 {
  margin-top: 95px !important; }

.p-t-95 {
  padding-top: 95px !important; }

.m-b-95 {
  margin-bottom: 95px !important; }

.p-b-95 {
  padding-bottom: 95px !important; }

.m-l-95 {
  margin-left: 95px !important; }

.p-l-95 {
  padding-left: 95px !important; }

.m-r-95 {
  margin-right: 95px !important; }

.p-r-95 {
  padding-right: 95px !important; }

.p-100 {
  padding: 100px !important; }

.m-t-100 {
  margin-top: 100px !important; }

.p-t-100 {
  padding-top: 100px !important; }

.m-b-100 {
  margin-bottom: 100px !important; }

.p-b-100 {
  padding-bottom: 100px !important; }

.m-l-100 {
  margin-left: 100px !important; }

.p-l-100 {
  padding-left: 100px !important; }

.m-r-100 {
  margin-right: 100px !important; }

.p-r-100 {
  padding-right: 100px !important; }

.p-110 {
  padding: 110px !important; }

.m-t-110 {
  margin-top: 110px !important; }

.p-t-110 {
  padding-top: 110px !important; }

.m-b-110 {
  margin-bottom: 110px !important; }

.p-b-110 {
  padding-bottom: 110px !important; }

.m-l-110 {
  margin-left: 110px !important; }

.p-l-110 {
  padding-left: 110px !important; }

.m-r-110 {
  margin-right: 110px !important; }

.p-r-110 {
  padding-right: 110px !important; }

.p-120 {
  padding: 120px !important; }

.m-t-120 {
  margin-top: 120px !important; }

.p-t-120 {
  padding-top: 120px !important; }

.m-b-120 {
  margin-bottom: 120px !important; }

.p-b-120 {
  padding-bottom: 120px !important; }

.m-l-120 {
  margin-left: 120px !important; }

.p-l-120 {
  padding-left: 120px !important; }

.m-r-120 {
  margin-right: 120px !important; }

.p-r-120 {
  padding-right: 120px !important; }

.p-130 {
  padding: 130px !important; }

.m-t-130 {
  margin-top: 130px !important; }

.p-t-130 {
  padding-top: 130px !important; }

.m-b-130 {
  margin-bottom: 130px !important; }

.p-b-130 {
  padding-bottom: 130px !important; }

.m-l-130 {
  margin-left: 130px !important; }

.p-l-130 {
  padding-left: 130px !important; }

.m-r-130 {
  margin-right: 130px !important; }

.p-r-130 {
  padding-right: 130px !important; }

.p-140 {
  padding: 140px !important; }

.m-t-140 {
  margin-top: 140px !important; }

.p-t-140 {
  padding-top: 140px !important; }

.m-b-140 {
  margin-bottom: 140px !important; }

.p-b-140 {
  padding-bottom: 140px !important; }

.m-l-140 {
  margin-left: 140px !important; }

.p-l-140 {
  padding-left: 140px !important; }

.m-r-140 {
  margin-right: 140px !important; }

.p-r-140 {
  padding-right: 140px !important; }

.text-Ranga {
  font-family: "Ranga" !important; }

.text-Source {
  font-family: "Source Sans Pro" !important; }

.text-Rubik {
  font-family: "Rubik" !important; }

.text-Lobster {
  font-family: "Lobster" !important; }

.text-FjallaOne {
  font-family: "Fjalla One" !important; }

.text-Roboto {
  font-family: "Roboto" !important; }

.text-gris1 {
  color: #f4f3f3 !important; }

.bg-gris1 {
  background: #f4f3f3 !important;
  border-color: #f4f3f3 !important;
  color: #fff; }

.text-gris2 {
  color: #dfdfdf !important; }

.bg-gris2 {
  background: #dfdfdf !important;
  border-color: #dfdfdf !important;
  color: #fff; }

.text-gris3 {
  color: #393e46 !important; }

.bg-gris3 {
  background: #393e46 !important;
  border-color: #393e46 !important;
  color: #fff; }

.text-girsmenu {
  color: #555 !important; }

.bg-girsmenu {
  background: #555 !important;
  border-color: #555 !important;
  color: #fff; }

.text-gris4 {
  color: #eaeaea !important; }

.bg-gris4 {
  background: #eaeaea !important;
  border-color: #eaeaea !important;
  color: #fff; }

.text-gris5 {
  color: #dae1e7 !important; }

.bg-gris5 {
  background: #dae1e7 !important;
  border-color: #dae1e7 !important;
  color: #fff; }

.bg-menu {
  background: #293462 !important;
  border-color: #293462 !important;
  color: #fff; }

.text-menu {
  color: #293462 !important; }

.btn-outline-menu {
  color: #293462;
  background: transparent !important;
  border-color: #293462 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-menu:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#293462, 1) !important;
    border-color: #293462 !important; }

.bg-rojiso {
  background: #a64942 !important;
  border-color: #a64942 !important;
  color: #fff; }

.text-rojiso {
  color: #a64942 !important; }

.btn-outline-rojiso {
  color: #a64942;
  background: transparent !important;
  border-color: #a64942 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-rojiso:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#a64942, 1) !important;
    border-color: #a64942 !important; }

.bg-rojito {
  background: #fe5f55 !important;
  border-color: #fe5f55 !important;
  color: #fff; }

.text-rojito {
  color: #fe5f55 !important; }

.btn-outline-rojito {
  color: #fe5f55;
  background: transparent !important;
  border-color: #fe5f55 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-rojito:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#fe5f55, 1) !important;
    border-color: #fe5f55 !important; }

.bg-blanco {
  background: #fff !important;
  border-color: #fff !important;
  color: #fff; }

.text-blanco {
  color: #fff !important; }

.btn-outline-blanco {
  color: #fff;
  background: transparent !important;
  border-color: #fff !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-blanco:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#fff, 1) !important;
    border-color: #fff !important; }

.bg-azulprimary {
  background: #00204a !important;
  border-color: #00204a !important;
  color: #fff; }

.text-azulprimary {
  color: #00204a !important; }

.btn-outline-azulprimary {
  color: #00204a;
  background: transparent !important;
  border-color: #00204a !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-azulprimary:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#00204a, 1) !important;
    border-color: #00204a !important; }

.bg-primary {
  background: #005792 !important;
  border-color: #005792 !important;
  color: #fff; }

.text-primary {
  color: #005792 !important; }

.btn-outline-primary {
  color: #005792;
  background: transparent !important;
  border-color: #005792 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-primary:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#005792, 1) !important;
    border-color: #005792 !important; }

.bg-azulcielo {
  background: #448ef6 !important;
  border-color: #448ef6 !important;
  color: #fff; }

.text-azulcielo {
  color: #448ef6 !important; }

.btn-outline-azulcielo {
  color: #448ef6;
  background: transparent !important;
  border-color: #448ef6 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-azulcielo:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#448ef6, 1) !important;
    border-color: #448ef6 !important; }

.bg-azuladmyo {
  background: #005d8f !important;
  border-color: #005d8f !important;
  color: #fff; }

.text-azuladmyo {
  color: #005d8f !important; }

.btn-outline-azuladmyo {
  color: #005d8f;
  background: transparent !important;
  border-color: #005d8f !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-azuladmyo:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#005d8f, 1) !important;
    border-color: #005d8f !important; }

.bg-succes {
  background: #00a65a !important;
  border-color: #00a65a !important;
  color: #fff; }

.text-succes {
  color: #00a65a !important; }

.btn-outline-succes {
  color: #00a65a;
  background: transparent !important;
  border-color: #00a65a !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-succes:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#00a65a, 1) !important;
    border-color: #00a65a !important; }

.bg-orange {
  background: #f7ac43 !important;
  border-color: #f7ac43 !important;
  color: #fff; }

.text-orange {
  color: #f7ac43 !important; }

.btn-outline-orange {
  color: #f7ac43;
  background: transparent !important;
  border-color: #f7ac43 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-orange:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#f7ac43, 1) !important;
    border-color: #f7ac43 !important; }

.bg-naranja {
  background: #fdb44b !important;
  border-color: #fdb44b !important;
  color: #fff; }

.text-naranja {
  color: #fdb44b !important; }

.btn-outline-naranja {
  color: #fdb44b;
  background: transparent !important;
  border-color: #fdb44b !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-naranja:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#fdb44b, 1) !important;
    border-color: #fdb44b !important; }

.bg-danger {
  background: #f53d3d !important;
  border-color: #f53d3d !important;
  color: #fff; }

.text-danger {
  color: #f53d3d !important; }

.btn-outline-danger {
  color: #f53d3d;
  background: transparent !important;
  border-color: #f53d3d !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-danger:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#f53d3d, 1) !important;
    border-color: #f53d3d !important; }

.bg-dark {
  background: #222 !important;
  border-color: #222 !important;
  color: #fff; }

.text-dark {
  color: #222 !important; }

.btn-outline-dark {
  color: #222;
  background: transparent !important;
  border-color: #222 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-dark:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#222, 1) !important;
    border-color: #222 !important; }

.bg-gary-lte {
  background: #d2d6de !important;
  border-color: #d2d6de !important;
  color: #fff; }

.text-gary-lte {
  color: #d2d6de !important; }

.btn-outline-gary-lte {
  color: #d2d6de;
  background: transparent !important;
  border-color: #d2d6de !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-gary-lte:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#d2d6de, 1) !important;
    border-color: #d2d6de !important; }

.bg-aqua {
  background: #00c0ef !important;
  border-color: #00c0ef !important;
  color: #fff; }

.text-aqua {
  color: #00c0ef !important; }

.btn-outline-aqua {
  color: #00c0ef;
  background: transparent !important;
  border-color: #00c0ef !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-aqua:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#00c0ef, 1) !important;
    border-color: #00c0ef !important; }

.bg-yellow {
  background: #f39c12 !important;
  border-color: #f39c12 !important;
  color: #fff; }

.text-yellow {
  color: #f39c12 !important; }

.btn-outline-yellow {
  color: #f39c12;
  background: transparent !important;
  border-color: #f39c12 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-yellow:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#f39c12, 1) !important;
    border-color: #f39c12 !important; }

.bg-blue {
  background: #0073b7 !important;
  border-color: #0073b7 !important;
  color: #fff; }

.text-blue {
  color: #0073b7 !important; }

.btn-outline-blue {
  color: #0073b7;
  background: transparent !important;
  border-color: #0073b7 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-blue:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#0073b7, 1) !important;
    border-color: #0073b7 !important; }

.bg-navy {
  background: #001F3F !important;
  border-color: #001F3F !important;
  color: #fff; }

.text-navy {
  color: #001F3F !important; }

.btn-outline-navy {
  color: #001F3F;
  background: transparent !important;
  border-color: #001F3F !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-navy:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#001F3F, 1) !important;
    border-color: #001F3F !important; }

.bg-teal {
  background: #39CCCC !important;
  border-color: #39CCCC !important;
  color: #fff; }

.text-teal {
  color: #39CCCC !important; }

.btn-outline-teal {
  color: #39CCCC;
  background: transparent !important;
  border-color: #39CCCC !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-teal:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#39CCCC, 1) !important;
    border-color: #39CCCC !important; }

.bg-olive {
  background: #3D9970 !important;
  border-color: #3D9970 !important;
  color: #fff; }

.text-olive {
  color: #3D9970 !important; }

.btn-outline-olive {
  color: #3D9970;
  background: transparent !important;
  border-color: #3D9970 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-olive:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#3D9970, 1) !important;
    border-color: #3D9970 !important; }

.bg-lime {
  background: #01FF70 !important;
  border-color: #01FF70 !important;
  color: #fff; }

.text-lime {
  color: #01FF70 !important; }

.btn-outline-lime {
  color: #01FF70;
  background: transparent !important;
  border-color: #01FF70 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-lime:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#01FF70, 1) !important;
    border-color: #01FF70 !important; }

.bg-secondary {
  background: #FF851B !important;
  border-color: #FF851B !important;
  color: #fff; }

.text-secondary {
  color: #FF851B !important; }

.btn-outline-secondary {
  color: #FF851B;
  background: transparent !important;
  border-color: #FF851B !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-secondary:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#FF851B, 1) !important;
    border-color: #FF851B !important; }

.bg-fuchsia {
  background: #F012BE !important;
  border-color: #F012BE !important;
  color: #fff; }

.text-fuchsia {
  color: #F012BE !important; }

.btn-outline-fuchsia {
  color: #F012BE;
  background: transparent !important;
  border-color: #F012BE !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-fuchsia:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#F012BE, 1) !important;
    border-color: #F012BE !important; }

.bg-purple {
  background: #605ca8 !important;
  border-color: #605ca8 !important;
  color: #fff; }

.text-purple {
  color: #605ca8 !important; }

.btn-outline-purple {
  color: #605ca8;
  background: transparent !important;
  border-color: #605ca8 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-purple:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#605ca8, 1) !important;
    border-color: #605ca8 !important; }

.bg-maroon {
  background: #D81B60 !important;
  border-color: #D81B60 !important;
  color: #fff; }

.text-maroon {
  color: #D81B60 !important; }

.btn-outline-maroon {
  color: #D81B60;
  background: transparent !important;
  border-color: #D81B60 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-maroon:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#D81B60, 1) !important;
    border-color: #D81B60 !important; }

.bg-blackk {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff; }

.text-blackk {
  color: #000 !important; }

.btn-outline-blackk {
  color: #000;
  background: transparent !important;
  border-color: #000 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-blackk:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#000, 1) !important;
    border-color: #000 !important; }

.bg-dark-2 {
  background: #222d32 !important;
  border-color: #222d32 !important;
  color: #fff; }

.text-dark-2 {
  color: #222d32 !important; }

.btn-outline-dark-2 {
  color: #222d32;
  background: transparent !important;
  border-color: #222d32 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-dark-2:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#222d32, 1) !important;
    border-color: #222d32 !important; }

.bg-light-gray {
  background: #444 !important;
  border-color: #444 !important;
  color: #fff; }

.text-light-gray {
  color: #444 !important; }

.btn-outline-light-gray {
  color: #444;
  background: transparent !important;
  border-color: #444 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-light-gray:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#444, 1) !important;
    border-color: #444 !important; }

.bg-alight-gray {
  background: #777 !important;
  border-color: #777 !important;
  color: #fff; }

.text-alight-gray {
  color: #777 !important; }

.btn-outline-alight-gray {
  color: #777;
  background: transparent !important;
  border-color: #777 !important;
  border-radius: 0px !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-outline-alight-gray:hover {
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rbga(#777, 1) !important;
    border-color: #777 !important; }

.width-100 {
  width: 100%; }

.height-100 {
  height: 100vh; }

.btn {
  border-radius: 0px !important; }

.centrar_horizontal {
  margin: 0 auto; }

.cont-menu {
  position: fixed;
  display: none;
  width: 20%;
  z-index: 100; }
  @media screen and (max-width: 64rem) {
    .cont-menu {
      width: 70%; } }
  .cont-menu .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .cont-menu .list-group .list-group-item {
      width: 100%;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-family: "Ranga";
      color: #fff !important;
      background-color: transparent !important;
      border-color: transparent !important;
      border-left: 6px solid #f7ac43; }
      .cont-menu .list-group .list-group-item:hover {
        border-left: 6px solid #00a65a !important;
        cursor: pointer; }
      .cont-menu .list-group .list-group-item.active {
        border-left: 6px solid #00a65a !important; }

.card-img-top {
  max-height: 200px; }

.titulo-pricipal {
  font-size: 6rem; }
  @media screen and (max-width: 64rem) {
    .titulo-pricipal {
      font-size: 2.5rem; } }

.subtitulo-pricipal {
  font-size: 4rem; }
  @media screen and (max-width: 64rem) {
    .subtitulo-pricipal {
      font-size: 2rem; } }

.lista_mesasocupadas li.list-group-item.active {
  color: #fff;
  background-color: #005792; }

.lista_mesasocupadas li.list-group-item:hover {
  color: #fff;
  cursor: pointer;
  background-color: #005792; }

.modal-cont {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: auto; }
  .modal-cont .modal-window {
    padding: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff; }
    .modal-cont .modal-window .listmesas .col-3 .card.active {
      background-color: #005792; }
      .modal-cont .modal-window .listmesas .col-3 .card.active p {
        color: #fff; }
    .modal-cont .modal-window .listmesas .col-3 .card .mesa {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .modal-cont .modal-window .listmesas .col-3 .card .mesa p {
        margin-bottom: 0rem; }
    .modal-cont .modal-window .listmesas .col-3 .card:hover {
      background-color: #005792;
      cursor: pointer;
      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s; }
      .modal-cont .modal-window .listmesas .col-3 .card:hover p {
        color: #fff; }
